@model CoursesAndCourseCategoriesVM

@inject IUnitOfWork _unitOfWork

@{
    var totalNumberOfCourses = await _unitOfWork.CoursesRepository.GetTotalNumberOfCourses();
    var totalNumberOfCourseCategories = await _unitOfWork.CourseCategoriesRepository.GetTotalNoOfCourseCategories();
    var totalNumberOfCourseFiles = await _unitOfWork.CourseFileAttachmentsRepository.GetTotalNumberOfCourseFiles();
    var totalEnrollments = await _unitOfWork.CoursesEnrollmentsRepository.GetTotalOfAllEnrollments();
}
<br />

<!-- #region TempData Success and Failure Messages  -->
@if (TempData["AddNewCourseFailed"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["AddNewCourseFailed"]
    </div>
}
@if (TempData["AddNewCourseSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AddNewCourseSuccess"]
    </div>
}
@if (TempData["FileUploadSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["FileUploadSuccess"]
    </div>
}
@if (TempData["FileUploadFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["FileUploadFail"]
    </div>
}
@if (TempData["UpdateCourseFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["UpdateCourseFail"]
    </div>
}
@if (TempData["CourseUpdateSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseUpdateSuccess"]
    </div>
}
@if (TempData["CourseFileDeleteSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseFileDeleteSuccess"]
    </div>
}
@if (TempData["CourseDeleteSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseDeleteSuccess"]
    </div>
}
@if (TempData["CourseCategoryFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["CourseCategoryFail"]
    </div>
}
@if (TempData["CourseCategorySucess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseCategorySucess"]
    </div>
}
@if (TempData["CourseCategoryUpdateSucess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseCategoryUpdateSucess"]
    </div>
}
@if (TempData["CourseCategoryUpdateFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["CourseCategoryUpdateFail"]
    </div>
}

@if (TempData["CourseCategoryDeleteSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseCategoryDeleteSuccess"]
    </div>
}
<!-- #endregion -->
<!-- #region Info Boxes-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@totalNumberOfCourses</h3>
                        <p>Total Courses</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@totalNumberOfCourseCategories</h3>
                        <p>Total course categories</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@totalEnrollments</h3>
                        <p>Total enrollments</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>@totalNumberOfCourseFiles</h3>
                        <p>Total course content files</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion-->

<div class="card border border-dark p-1">
    <div class="card-header bg-dark" style="color:white"><h3>Course Management <i class="fa fa-graduation-cap"></i></h3></div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-User-tab" data-bs-toggle="tab" data-bs-target="#nav-User" type="button" role="tab" aria-controls="nav-User" aria-selected="true"><strong>Courses</strong></button>
            <button class="nav-link" id="nav-Role-tab" data-bs-toggle="tab" data-bs-target="#nav-Role" type="button" role="tab" aria-controls="nav-Role" aria-selected="false"><strong>Course Categories</strong></button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-User" role="tabpanel" aria-labelledby="nav-User-tab">
            <br />
            <div id=""></div>
            @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
            {
                <button type="button" data-bs-toggle="modal" data-bs-target="#addCourseModal" class="btn btn-success"
                    style="float:left;margin-left:10px;">
                    <i class="fa fa-plus"></i> Add Course
                </button>
                <a asp-controller="Courses" asp-action="DownloadAllCoursesToExcel" class="btn btn-info"
               style="float:right;margin-right:10px;">
                    <i class="fa fa-download"></i> Download to excel
                </a>
                <!-- Add New Course Pop View Begin-->
                <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="Courses" asp-action="AddNewCourse">
                                    <div class="mb-3">
                                        <label style="color:black" class="col-form-label">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.CourseCreateViewModel.CourseCategoryId) (Required)
                                            </strong>
                                        </label>
                                        <select asp-for="CourseCreateViewModel.CourseCategoryId" class="form-select" asp-items="Model.CourseCreateViewModel.CourseCategories">
                                            <option disabled>--Select Course Category--</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label style="color:black" class="col-form-label">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.CourseCreateViewModel.CourseName) (Required)
                                            </strong>
                                        </label>
                                        <input asp-for="CourseCreateViewModel.CourseName" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" onclick="AddNewCourse()" class="btn btn-primary">Add Course</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add New Course Pop View End-->
                <br />
                <br />
            }


            <br />
            <div id=CourseDetailsPlaceHolderHere></div>
            <div id=UpdateCoursePlaceHolderHere></div>
            <div class="table-responsive">
                <table class="table table-striped" style="width:100%" id="coursesTable">
                    <thead>
                        <tr>
                            <th style="color:black;">Course Name</th>
                            <th style="color:black;">Category</th>
                            </a>
                            @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
                            {
                                <th style="color:black;">Course content File</th>
                            }
                            <th style="color:black;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.CoursesViewModel)
                        {
                            <tr>
                                <td>@course.CourseName</td>
                                <td>@course.CourseCategory.CategoryName</td>
                                @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
                                {
                                    <td>
                                        <label for="coursefileInput"
                                       class="btn btn-primary CourseFileAttachmentData"
                                       data-courseId="@course.Id">
                                            <i class="fa fa-file"></i> upload
                                        </label>
                                    </td>
                                }
                                <td>
                                    <a onclick="CourseDetailsView()" asp-controller="Courses" asp-action="CourseDetailsView" asp-route-courseId="@course.Id"
                                   class="btn btn-info" style="float:left;margin-left:10px;">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                    @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
                                    {
                                        <button type="button" data-bs-toggle="modal updateModal" data-bs-target="#updateCourseModal"
                                        data-url="@Url.Action("UpdateCoursePopUpView", "Courses", new {courseId = @course.Id})" class="btn btn-warning" style="float:left;margin-left:10px;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger  DeleteCoursebtn" style="float:left;margin-left:10px;"
                                        data-Id="@course.Id">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <form enctype="multipart/form-data" asp-controller="Courses" asp-action="UploadCourseFileAttachment" id="UploadCourseFileAttatchmentForm">
                <input asp-for="CourseFileAttachmentVM.courseFileAttachment" type="file" class="courseAttatchmentFileData" style="display: none"
                       id="coursefileInput" />
                <input type="hidden" id="courseId" name="courseId" />
            </form>
            <form asp-controller="Courses" asp-action="DeleteCourse" id="DeleteCourseForm">
                <input type="hidden" id="Id" name="Id">
            </form>
        </div>
        <div class="tab-pane fade" id="nav-Role" role="tabpanel" aria-labelledby="nav-Role-tab">
            <br />
            @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
            {
                <button type="button" data-bs-toggle="modal" data-bs-target="#addCourseCategoryModal" class="btn btn-success" style="float:left;margin-left:10px;">
                    <i class="fa fa-plus"></i> Add Course Category
                </button>

                <!-- Add New Course Category Pop View Begin-->
                <div class="modal fade" id="addCourseCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Course Category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="Courses" asp-action="AddNewCourseCategory">
                                    <div class="mb-3">
                                        <label style="color:black" class="col-form-label">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.courseCategoryCreateVM.CategoryName) (Required)
                                            </strong>
                                        </label>
                                        <input asp-for="courseCategoryCreateVM.CategoryName" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" onclick="AddNewCourseCategory()" class="btn btn-primary">Add Course Category</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add New Course Category Pop View End-->
                <br />
                <br />
            }
            <br />
            <div class="table-responsive">
                <div id="CourseCategoryDetailsPlaceHolderHere"></div>
                <div id="CourseCategoryUpdatePlaceHolderHere"></div>
                <table class="table table-striped" style="width:100%" id="CourseCategoryTable">
                    <thead>
                        <tr>
                            <th style="color:black;">Category Name</th>
                            <th style="color:black;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.CourseCategoriesViewModel)
                        {
                            <tr>
                                <td>@category.CategoryName</td>
                                <td>
                                    <a onclick="CourseCategoryDetailsView()" asp-controller="Courses" asp-action="CourseCategoryDetailsView" asp-route-courseCategoryId="@category.Id" type="button"
                                   class="btn btn-info" style="float:left;margin-left:10px;">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                    @if (User.IsInRole(Roles.HRAdmin) || User.IsInRole(Roles.SuperAdmin))
                                    {
                                        <button type="button" data-bs-toggle="modal update" data-bs-target="#UpdateCourseCategoryModal"
                                        data-url="@Url.Action("UpdateCourseCategoryPopUpView", "Courses", new {courseCategoryId = @category.Id})" class="btn btn-warning" style="float:left;margin-left:10px;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger DeleteCourseCategorybtn"
                                        data-courseCategoryId="@category.Id" style="float:left;margin-left:10px;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <form asp-controller="Courses" asp-action="DeleteCourseCategory" id="DeleteCourseCategoryForm">
                    <input type="hidden" id="courseCategoryId" name="courseCategoryId">
                </form>
            </div>
        </div>
    </div>
</div>
