@model CoursesAndCourseCategoriesVM

@if (TempData["AddNewCourseFailed"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["AddNewCourseFailed"]
    </div>
}
@if (TempData["AddNewCourseSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AddNewCourseSuccess"]
    </div>
}
@if (TempData["FileUploadSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["FileUploadSuccess"]
    </div>
}
@if (TempData["FileUploadFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["FileUploadFail"]
    </div>
}
@if (TempData["UpdateCourseFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["UpdateCourseFail"]
    </div>
}
@if (TempData["CourseUpdateSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseUpdateSuccess"]
    </div>
}
@if (TempData["CourseFileDeleteSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseFileDeleteSuccess"]
    </div>
}
@if (TempData["CourseDeleteSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CourseDeleteSuccess"]
    </div>
}
<div class="card border border-dark p-1">
    <div class="card-header bg-success" style="color:white"><h3>Course Management <i class="fa fa-graduation-cap"></i></h3></div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-User-tab" data-bs-toggle="tab" data-bs-target="#nav-User" type="button" role="tab" aria-controls="nav-User" aria-selected="true"><strong>Courses</strong></button>
            <button class="nav-link" id="nav-Role-tab" data-bs-toggle="tab" data-bs-target="#nav-Role" type="button" role="tab" aria-controls="nav-Role" aria-selected="false"><strong>Course Categories</strong></button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-User" role="tabpanel" aria-labelledby="nav-User-tab">
            <br />
            <div id=""></div>
            <button type="button" data-bs-toggle="modal" data-bs-target="#addCourseModal" class="btn btn-success"
                    style="float:left;margin-left:10px;">
                <i class="fa fa-plus"></i> Add Course
            </button>
            <!-- Add New Course Pop View Begin-->
            <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new Course</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Courses" asp-action="AddNewCourse">
                                <div class="mb-3">
                                    <label style="color:black" class="col-form-label">
                                        <strong>
                                            @Html.DisplayNameFor(model => model.CourseCreateViewModel.CourseCategoryId) (Required)
                                        </strong>
                                    </label>
                                    <select asp-for="CourseCreateViewModel.CourseCategoryId" class="form-select" asp-items="Model.CourseCreateViewModel.CourseCategories">
                                        <option disabled>--Select Course Category--</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label style="color:black" class="col-form-label">
                                        <strong>
                                            @Html.DisplayNameFor(model => model.CourseCreateViewModel.CourseName) (Required)
                                        </strong>
                                    </label>
                                    <input asp-for="CourseCreateViewModel.CourseName" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" onclick="AddNewCourse()" class="btn btn-primary">Add Course</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add New Course Pop View End-->
            <br />
            <br />
            <br />
            <div class="table-responsive">
                <div id=CourseDetailsPlaceHolderHere></div>
                <div id=UpdateCoursePlaceHolderHere></div>
                <table class="table table-striped" style="width:100%">
                    <thead style="background-color:#333130;">
                        <tr>
                            <th style="color:white;">Course Name</th>
                            <th style="color:white;">Category</th>
                            <th style="color:white;">Course Content</th>
                            <th style="color:white;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.CoursesViewModel)
                        {
                            <tr>
                                <td>@course.CourseName</td>
                                <td>@course.CourseCategory.CategoryName</td>
                                <td>
                                    <label for="coursefileInput"
                                       class="btn btn-primary CourseFileAttachmentData"
                                       data-courseId="@course.Id">
                                        <i class="fa fa-file"></i>
                                    </label>
                                </td>
                                <td>
                                    <button type="button" data-bs-toggle="modal viewModel" data-bs-target="#courseDetails"
                                        data-url="@Url.Action("CourseDetailsPopUpView", "Courses", new {courseId = @course.Id})" class="btn btn-info" style="float:left;margin-left:10px;">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    <button type="button" data-bs-toggle="modal updateModal" data-bs-target="#updateCourseModal"
                                        data-url="@Url.Action("UpdateCoursePopUpView", "Courses", new {courseId = @course.Id})" class="btn btn-warning" style="float:left;margin-left:10px;">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger  DeleteCoursebtn" style="float:left;margin-left:10px;"
                                        data-Id="@course.Id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <form enctype="multipart/form-data" asp-controller="Courses" asp-action="UploadCourseFileAttachment" id="UploadCourseFileAttatchmentForm">
                <input asp-for="CourseFileAttachmentVM.courseFileAttachment" type="file" class="courseAttatchmentFileData" style="display: none"
                       id="coursefileInput" />
                <input type="hidden" id="courseId" name="courseId" />
            </form>
            <form asp-controller="Courses" asp-action="DeleteCourse" id="DeleteCourseForm">
                <input type="hidden" id="Id" name="Id">
            </form>
        </div>
        <div class="tab-pane fade" id="nav-Role" role="tabpanel" aria-labelledby="nav-Role-tab">
            <br />
            <button type="button" data-bs-toggle="modal" data-bs-target="#addCourseCategoryModal" class="btn btn-success" style="float:left;margin-left:10px;">
                <i class="fa fa-plus"></i> Add Course Category
            </button>
            <!-- Add New Course Category Pop View Begin-->
            <div class="modal fade" id="addCourseCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new Course Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Courses" asp-action="AddNewCourseCategory">
                                <div class="mb-3">
                                    <label style="color:black" class="col-form-label">
                                        <strong>
                                            @Html.DisplayNameFor(model => model.courseCategoryCreateVM.CategoryName) (Required)
                                        </strong>
                                    </label>
                                    <input asp-for="courseCategoryCreateVM.CategoryName" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" onclick="AddNewCourseCategory()" class="btn btn-primary">Add Course Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add New Course Category Pop View End-->
            <br />
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-striped" style="width:100%">
                    <thead style="background-color:#333130;">
                        <tr>
                            <th style="color:white;">Category Name</th>
                            <th style="color:white;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.CourseCategoriesViewModel)
                        {
                            <tr>
                                <td>@category.CategoryName</td>
                                <td>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-warning" style="float:left;margin-left:10px;">
                                        <i class="fa fa-plus"></i> Update
                                    </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-danger" style="float:left;margin-left:10px;">
                                        <i class="fa fa-plus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="card-body text-primary">
    <br />
    <form asp-action="Search" id="searchForm">
    <div class="row mb-4">
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>EmployeeNo</strong>
    <i class="fas fa-id-card"></i>
    </label>
    <input placeholder="Employee Number" class="form-control" />
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>First Name</strong>
    <i class="fa fa-user"></i>
    </label>
    <input placeholder="First Name" id="form6Example2" class="form-control" />
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Last Name</strong>
    <i class="fa fa-user"></i>
    </label>
    <input placeholder="Last Name" id="form6Example2" class="form-control" />
    </div>
    </div>
    </div>
    <div class="row mb-4 p-2">
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Gender</strong>
    <i class="fa fa-transgender-alt"></i>
    </label>
    <select class="form-select">
    <option>All</option>
    </select>
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Race</strong>
    <i class="fa fa-user"></i>
    </label>
    <select class="form-select">
    <option>All</option>
    </select>
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Grade</strong>
    <i class="fa fa-sitemap"></i>
    </label>
    <select class="form-select">
    </select>
    </div>
    </div>
    </div>
    <div class="row mb-4 p-2">
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Site</strong>
    <i class="fa fa-sitemap"></i>
    </label>
    <select class="form-select">
    <option>All</option>
    </select>
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Division</strong>
    <i class="fa fa-sitemap"></i>
    </label>
    <select class="form-select">
    <option>All</option>
    </select>
    </div>
    </div>
    <div class="col-4">
    <div class="form-outline">
    <label style="color:black">
    <strong>Training Date</strong>
    <i class="fa fa-calendar"></i>
    </label>
    <input type="text" />
    </div>
    </div>
    </div>
    <div class="form-check d-flex mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
    <label class="form-check-label" for="form6Example8"> Active Employees Only </label>
    </div>
    <div class="form-check d-flex mb-4" style="float:right">
    <input type="checkbox" name="downloadCSV" id="downloadCSV" class="form-check-input me-2" />
    <label class="form-check-label">Save result to file</label>
    </div>
    <br />
    <br />
    <button type="submit" onclick="searchSubmit()" id="submitButton" class="btn btn-primary btn-lg" style="float:right">
    <i class="fa fa-search"></i> Search
    </button>
    <br />
    </form>
    </div>*@
