@model EmployeeDetailsAndEmployeeFilesVM

@inject IUnitOfWork _unitOfWork

@{
    var totalEmployeeFiles = await _unitOfWork.EmployeeFileAttachmentsRepository.GetTotalNumberOfEmployeeFiles(@Model.EmployeeDetails.Id);
    var totalCoursesEnrolled = await _unitOfWork.CoursesEnrollmentsRepository.GetTotalNumberOfCoursesEnrolledByEmployee(@Model.EmployeeDetails.Id);
    var totalCompletedCourses = await _unitOfWork.CoursesEnrollmentsRepository.GetTotalCoursesCompletedByEmployee(@Model.EmployeeDetails.Id);
    var totalCoursesInProccess = await _unitOfWork.CoursesEnrollmentsRepository.GetTotalCoursesInProccessByEmployee(@Model.EmployeeDetails.Id);
}
<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@totalEmployeeFiles</h3>
                        <p>Total Employee Files</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@totalCoursesEnrolled</h3>
                        <p>Total Courses Enrolled</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@totalCompletedCourses</h3>
                        <p>Total Courses completed</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@totalCoursesInProccess</h3>
                        <p>Total Courses in process</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card border border-dark">
    <div class="card-header bg-dark" style="color:white">
        <h3>
            Employee Details
            <i class="fas fa-id-card"></i>
        </h3>
    </div>
    <div class="card-body text-primary">
        <div class="row">
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.EmployeeNo)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.EmployeeNo)</p>
            </div>
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.FirstName)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.FirstName)</p>
            </div>
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.LastName)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.LastName)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.Gender)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.Gender)</p>
            </div>
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.Department)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.Department)</p>
            </div>
            <div class="col-4">
                <label style="color:black; font-size:Large;">
                    <strong>@Html.DisplayNameFor(model => model.EmployeeDetails.PositionTitle)</strong>
                </label>
                <p style="color:black">@Html.DisplayFor(model => model.EmployeeDetails.PositionTitle)</p>
            </div>
        </div>
    </div>
    <br />
</div>
<br />

<div class="card border border-dark p-1">
    <div class="card-header bg-success" style="color:white"><h3>Employee Files and Enrollments <i class="fa fa-users"></i></h3></div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-User-tab" data-bs-toggle="tab" data-bs-target="#nav-User" type="button" role="tab" aria-controls="nav-User" aria-selected="true"><strong>Files</strong></button>
            <button class="nav-link" id="nav-Role-tab" data-bs-toggle="tab" data-bs-target="#nav-Role" type="button" role="tab" aria-controls="nav-Role" aria-selected="false"><strong>enrollments</strong></button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-User" role="tabpanel" aria-labelledby="nav-User-tab">
            <br />
            @if (Model.EmployeeFileAttachmentsVM.Count() == 0)
            {
                <div class="alert alert-danger">
                    There are no files for this employee
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped" style="width:100%" id="coursesTable">
                        <thead>
                            <tr>
                                <th style="color:black;">File Name</th>
                                <th style="color:black;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var file in Model.EmployeeFileAttachmentsVM)
                            {
                                <tr>
                                    <td>@file.FileName</td>
                                    <td>
                                        <a asp-controller="Employees" asp-action="DownloadEmployeeFileAttachment" asp-route-Id="@file.Id"
                                   class="btn btn-info" style="float:left;margin-left:10px;">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger DeleteEmployeeFileAttachment"
                                        data-employeeFileAttachmentId="@file.Id" 
                                        data-employeeIdForDetails="@file.EmployeeId"style="float:left;margin-left:10px;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <form asp-controller="Employees" asp-action="DeleteEmployeeFileAttachment" id="DeleteEmployeeFileAttachmentForm">
                    <input type="hidden" id="employeeFileAttachmentId" name="employeeFileAttachmentId">
                    <input type="hidden" id="employeeIdForDetails" name="employeeIdForDetails">
                </form>
            }
        </div>
        <div id="UpdateEmployeeCourseEnrollmentPlaceHolderHere"></div>
        <div class="tab-pane fade" id="nav-Role" role="tabpanel" aria-labelledby="nav-Role-tab">
            <br />
            <div class="table-responsive">
                <table class="table table-striped" style="width:100%" id="EmployeesTable">
                    <thead>
                        <tr>
                            <th style="color:black;">
                                course name
                            </th>
                            <th style="color:black;">
                                category
                            </th>
                            <th style="color:black;">
                                status
                            </th>
                            <th style="color:black;">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var courseEnrollment in Model.EmployeeCourseEnrollmentsVM)
                        {
                            <tr>
                                <td>@courseEnrollment.Course.CourseName</td>
                                <td>@courseEnrollment.Course.CourseCategory.CategoryName</td>
                                <td>
                                    @switch (courseEnrollment.Status)
                                    {
                                        case "Enrolled":
                                            <span class="badge badge-pill badge-info">@courseEnrollment.Status</span>
                                            break;
                                        case "In proccess":
                                            <span class="badge badge-pill badge-warning">@courseEnrollment.Status</span>
                                            break;
                                        case "Completed":
                                            <span class="badge badge-pill badge-success">@courseEnrollment.Status</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    <button type="button" data-bs-toggle="modal enrollmentModal" data-bs-target="#updateEmployeeCourseEnrollmentModal"
                                        data-url="@Url.Action("UpdateEmployeeCourseEnrollmentView","Employees", new{employeeCourseEnrollmentId = @courseEnrollment.Id})" class="btn btn-warning" style="float:left;margin-left:10px;">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger unEnrollEmployee"
                                        data-courseEnrollmentId="@courseEnrollment.Id"
                                        data-employeeId="@courseEnrollment.Employee.Id" style="float:left;margin-left:10px;">
                                        <i class="fa fa-graduation-cap"></i> unenroll
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <form asp-controller="Employees" asp-action="UnenrollEmployeeFromCourse" id="UnenrollEmployeeForm">
                    <input type="hidden" id="courseEnrollmentId" name="courseEnrollmentId" />
                    <input type="hidden" id="employeeId" name="employeeId" />
                </form>
            </div>
        </div>

    </div>
</div>
<div class="card border border-dark p-1">
    <a asp-controller="Employees" asp-action="Index" class="btn btn-info btn-block mb-1">
        <i class="fa fa-users"></i> Back to Employees Page
    </a>
</div>

